%h1 Flat_Listing


%table{:align=>"center", :border=>"1"}
  %tr
    %th Color
    %th Rooms
    %th Associate
    %th Show
    %th  Update


  - @flt.each do |flat|
    %tr
      %td
        =flat.colour
      %td
        =flat.rooms
      %td
        =link_to'families',:controller=>'family',:action=>'index',:id=>flat.id
      %td
        =link_to image_tag("Show.png",:width=>20),flat
      %td
        =link_to  image_tag("update.png", :width=>20), edit_flat_path(flat)

= link_to 'new',:controller=>'flat',:action=>'new',:id=>@hou.id
= link_to 'colony_index', colony_index_path
        