=flash[:notice]
%h1 Colony_Listing
%table{ :align=>"center", :border=>"1"}
  %tr
    %th Colony_Name
    %th City_name
    %th Associate
    %th  show
    %th  update

  - @col.each do |col|
    %tr
      %td
        =col.name
      %td
        =col.city
      %td=link_to 'houses',:controller=>'house',:action=>'create',:id=>col.id
      %td= link_to image_tag("Show.png",:width=>20) ,col
      %td= link_to image_tag("update.png", :width=>20),edit_colony_path(col)


= link_to 'new entry', new_colony_path
%br/
