<h1>Details</h1>



<b>Name:</b>
<%= @col.name%>
<br/>


<b>City:</b>
<%= @col.city%>
 <br/>

<%= link_to 'index',colony_index_path%>



=begin

Write a program to print the list of unique letters used in a word
e.g. if the input is: inhibition the output should be: b, h, i, n, o, t?
me:  kaha se Q aa rha h yaar?

=end