<h1>New</h1>
<%= form_for (@hou),:url=>{:action=>'create',:id=>@col.id} do |house|%>

    <b>House-Name:</b>
      <%= house.text_field :h_name%>
      <br/>
      <b>House-No.</b>
      <%=house.text_field :h_no%><br/>
      <%= house.submit%>
 <%end%>

<%#= link_to 'house_index', house_index_path%>