%h1 Family_Listing
%table{:align => "center",:border => "1" }
  %tr
    %th Members
    %th Salary
    %th Cast
    %th Show
    %th Update

  - if @fml
    %tr
      %td
        =@fml.members
      %td
        =@fml.salary
      %td
        =@fml.cast
      %td
        =link_to image_tag("Show.png",:width=>20),@fml
      %td
        =link_to image_tag("update.png", :width=>20),edit_family_path(@fml)
= link_to 'new',:controller=>'family',:action=>'new',:id=>@flt.id
%br/
= link_to 'colony_index', colony_index_path